body{
font-family: Arial, sans-serif;
margin:0;
background:#A52A2A;
}

header{
text-align:center;
padding:60px 20px;
background:#111;
color:white;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:30px;
padding:40px;
}

.painting{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 10px 20px rgba(0,0,0,0.1);
text-align:center;
}

.painting img{
width:100%;
height:400px;
object-fit:cover; 
border-radius:8px;
}

.price{
font-weight:bold;
font-size:18px;
margin:10px 0;
}

button{
background:#111;
color:white;
border:none;
padding:10px 20px;
cursor:pointer;
border-radius:5px;
}

button:hover{
background:#444;
}

footer{
text-align:center;
padding:20px;
background:#111;
color:white;
}
